 * {
 	box-sizing: border-box;
 }

 html,
 body {
 	margin: 0;
 	height: 0;
 	width: 100%;
 	height: 100vh;
 }

 body {
 	font-family: 'Satoshi', sans-serif;
 	background-color: #232528;
 	color: #fff;
 	display: grid;
 	place-content: center;
 	text-align: center;
 	padding: 5vh 5vw;
 }

 h1 {
 	font-size: 3em;
 	font-weight: 400;
 }

 #random-area {
 	min-height: 40vh;
 	text-align: center;
 	font-size: 3em;
 	text-transform: uppercase;
 	font-weight: 900;
 }

 .accent {
 	/* color: #43beb9; */
 	color: #ff0090;
 }